#!/bin/bash
sudo apt remove apache2 -y
sudo apt -y install apache2
sudo systemctl start apache2
sudo systemctl enable apache
sudo amazon-linux-extras intall php7.4
sudo apt -y install php-cli php-pdo php-fpm php-json php-mysqlnd
sudo apt -y install mysql
sudo apt -y install mariadb
sudo apt -y install git
sudo cd /var/www
sudo rm -rf html/
